.sd-social-icon .sd-content ul li.share-feedly a:before,
.sd-social-text .sd-content ul li.share-feedly a:before,
.sd-content ul li.share-feedly div.option.option-smart-off a:before,
.sd-social-icon-text .sd-content li.share-feedly a:before,
li.service.share-feedly span:before {
	content:" ";
	background-image:url("images/feedly-follow-feedlyshape.png");
	background-image:image-set(url("images/feedly-follow-feedlyshape.png") 1x, url("images/feedly-follow-feedlyshape@2x.png") 2x);
	background-image:-webkit-image-set(url("images/feedly-follow-feedlyshape.png") 1x, url("images/feedly-follow-feedlyshape@2x.png") 2x);
	background-repeat: no-repeat;
	background-position:center;
	background-size:16px 14.2px;
	height:16px;
	width:16px;
}

.sd-social-icon .sd-content ul li.share-feedly a.no-text:before {
	background:none !important;
}

.sd-social-icon .sd-content ul li[class*="share-"].share-feedly a.sd-button {
	background-color:#87c040;
	background-image:url("images/feedly-follow-circle.png");
	background-image:image-set(url("images/feedly-follow-circle.png") 1x, url("images/feedly-follow-circle@2x.png") 2x);
	background-image:-webkit-image-set(url("images/feedly-follow-circle.png") 1x, url("images/feedly-follow-circle@2x.png") 2x);
	background-repeat:no-repeat;
	background-position:2.3px 2px;
}

.preview-feedly .option-smart-on {
	background-image:url("https://raw.githubusercontent.com/wp-plugins/feedly-insight/master/images/smart-feedly.png");
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left top;
	background-size:110px 20px;
	height:20px;
	width:110px;
}

.sd-social-official .sd-content li.share-feedly .feedly_button td,
.sd-social-official .sd-content li.share-feedly .feedly_button th,
.sd-social-official .sd-content li.share-feedly .feedly_button tr {
	background-color: transparent;
	border:none;
}

.sd-social-official .sd-content li.share-feedly .feedly_button div[data-scribe="component:button"] {
	width:61px; height:20px;
}

.sd-social-official .sd-content li.share-feedly .feedly_button div[data-scribe="component:button"] i {
	display:inline-block;
	width:61px;
	height:20px;
	background-image:url("http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-small_2x.png");
	background-image:-webkit-image-set(url("http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-small_2x.png") 2x);
	background-image:image-set(url("http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-small_2x.png") 2x);
}
